body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3 {
  color: #050F2F;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.solid {
  border-style: solid;
  border-radius: 0rem;
  border-color: lightgray;
}
.navbar-nav {
  margin-left: auto;
  font-weight: 400;
}
.navbar-brand {
  font-weight: bold;
}
#btns {
  border-radius: 1rem;
  padding: 5px 15px 5px 15px;
  background-color: #050F2F;
  color: white;
}

#btn-danger {
  border-radius: 1rem;
  padding: 5px 15px 5px 15px;
  background-color: #e90707;
  color: white;
}

#mbtns {
  border-radius: 1rem;
  padding: 20px;
  background-color: #050F2F;
  color: white;
}
#bg-title {
  background-color: #050F2F;
  color: white;
  padding: 3px;
  font-weight: 600;
  border-radius: 2rem;
}
#d-content {
  margin-left: 150px;
  margin-right: 150px;
}
#d-title {
  font-weight: bold;
  font-size: 16px;
}
.jumbotron {
  
  background-image: url('https://res.cloudinary.com/dkenaghia/image/upload/v1626281722/FYP%20Pics/jbt_final-01_n2qe0q.jpg');
  background-size: cover;
  min-height: 550px;
}
.form-group .form-control {
  width: 80%;
  border-radius: 1rem;
}
img.card-img-top {
  height: 180px;
}

.card-img-overlay {
  margin-top: 105px;
  color: white;
  font-weight: 900;
  font-size: 18px;
}
body h2 {
  color:#050F2F;
  font-weight: 500;
}

.btn {
  border-radius: 1rem;
  padding: 5px 15px 5px 15px;
  background-color: #050F2F;
  color: white;
}
a.makeStyles-link-1:hover {
  color: #FE000D;
  text-decoration: underline;
}

#primary-search-account-menu
  > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  margin-top: 70px;
}
#primary-search-account-menu
  > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded
  > ul {
  padding: 0;
}
#primary-search-account-menu > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded > ul{
  padding-right: 0px
}
#profileCard {
  width: 5rem;
  height: 3rem;
  margin-bottom: 1rem;
}
hr.solid {
  border-top: 3px solid #050F2F;
}
h6.MuiTypography-h6 {
  font-size: 1rem;
}
h6.MuiTypography-h6 a:hover {
  text-decoration: none;
}

#vertical-center {
  background-color: "#16c79a";
  color: "white";
  border-radius: "1rem";
  padding: " 5px 15px 5px 15px";
}
#root > div.container > div > svg{
  fill: green;
  width: 3em;
  height: 5em

}

#root > div.makeStyles-grow-122 > header > div > div.makeStyles-sectionDesktop-127{
  display: -webkit-box;
  padding-right: 10%;
}

#root > div.makeStyles-grow-10 > header > div > div.makeStyles-sectionDesktop-15{
  display: -webkit-box;
  padding-right: 10%;
}

#root > div.makeStyles-grow-2 > header > div > div.makeStyles-sectionDesktop-7{
  display: -webkit-box;
  padding-right: 10%;
}
#root > div.makeStyles-grow-18 > header > div > div.makeStyles-sectionDesktop-23{
  display: -webkit-box;
  padding-right: 10%;
}

.card .card-body{
  border-inline: 10px solid #050F2F;
  
}

.card  .card-body h2{
  border-radius: 40px;
  border-color: #050F2F;
}
h2.card-title{
  border-radius: 40px;
  border-color: #9b9da5 
}







/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.3);
  text-align: center;
  margin-top: 30px;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 90px;
}
#root > div:nth-child(3) > div:nth-child(4) > div > div.text-center.mt-5 > a{
  background-color: #050F2F;
  color: #f1f1f1;
  border-radius: 1rem;
  padding: 5px 15px 5px 15px;
}

#root > div:nth-child(3) > div.container.text-center.solid > div > div.text-center > a {
  background-color: #050F2F;
  color: #f1f1f1;
  border-radius: 1rem;
  padding: 5px 15px 5px 15px;
}


#root > div:nth-child(3) > ul > li.active > a{
  color: #f1f1f1;
  background-color: #050F2F;
  border-color: #050F2F;
}
#root > div:nth-child(3) > ul > li.active{
  background-color: #050F2F;
}

#root > div:nth-child(3) > ul > li.previous.disabled > a{
  border-color: #050F2F;
}
#root > div:nth-child(3) > ul > li.next.disabled > a{
  border-color: #050F2F;

}

#primary-search-account-menu > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded > ul > div > div > div:nth-child(3) > div:nth-child(1) > a{
  color:#050F2F
}

#primary-search-account-menu > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded > ul > div > div > div:nth-child(3) > div:nth-child(2) > a{
  color: #050F2F;
}

#primary-search-account-menu > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded > ul > div > div > div:nth-child(4) > div:nth-child(2) > a{
  color: #050F2F;
}

#primary-search-account-menu > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded > ul > div > div > div:nth-child(6) > div:nth-child(1) > div > a{
  color: #050F2F;
}
#primary-search-account-menu > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded > ul > div > div > div:nth-child(6) > div:nth-child(2) > div > a{
  color: #050F2F;
}

/*-----------------------*/

#r2{
  background-color:#D8D8D8
}
#r1
{
  background-color:#E6E6E6;
}
#r3{
  background-color: #F2F2F2;
}

.container1
{
height:205px;
width: 205px;
background-color:#050f2f;
margin-top: 30px;
margin-left: 50px;
margin-right: 50px;


}


.text
{
  margin-top: 50px;
  margin-left: 50px;
}


.outter
{
  display: flex;
          flex-direction: column;
          flex-wrap: wrap;
}
